body {
    background: lightgray;
    margin: 0;
}

h1 {
    background: white;
    padding: 10px;
    display: block;
    width: 600px;
    margin: auto;
}

.post {
    background: white;
    width: 600px;
}

.container {
    width: 600px;   
    margin: auto;
    padding: 60px;
    margin-top: -80px;
}

.image {
    width: 100%;
}

.top h2, .top p {
    padding: 10px;
    margin: 0;
}

.description {
    padding: 10px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

span {
    padding: 10px;
    color: gray;
}

.header {
    background-color:white;
}